<div class="card-body">
    <div class="row row-cards">
        <div class="col-md-3">
            <button class="btn w-100 text-center btn-outline-dark">Extremis</button>
        </div>
        <div class="col-md-3">
            <button class="btn w-100 text-center btn-outline-dark">Endurance</button>
        </div>
        <div class="col-md-3">
            <button class="btn w-100 text-center btn-outline-dark">RedShift</button>
        </div>
        <div class="col-md-3">
            <button class="btn w-100 text-center btn-outline-dark">Novel Infinite</button>
        </div>
        <div class="col-md-3">
            <button class="btn w-100 text-center btn-outline-dark">Resurgence</button>
        </div>
    </div>
</div>

@code {
    
}