@page "/Projects"
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <h2 class="page-title">Projects</h2>
                <div class="card-actions">
                    <div class="btn-list">
                        <button class="btn btn-primary" @onclick="CreateProject">Create Project</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group list-group-flush">
                        <a @onclick="(() => TogglePageMode(PageMode.MyProjects))" class="list-group-item list-group-item-action @(_currentMode == PageMode.MyProjects ? "active" : "")">
                            <span class="text-reset">My Projects</span>
                        </a>
                        <a @onclick="(() => TogglePageMode(PageMode.JoinedProjects))" class="list-group-item list-group-item-action @(_currentMode == PageMode.JoinedProjects ? "active" : "")">
                            <span class="text-reset">Joined Projects</span>
                        </a>    
                    </div>
                </div>
                <div class="col-md-9">
                    @switch (_currentMode)
                    {
                        case PageMode.MyProjects:
                            <MyProjects />
                            break;
                        case PageMode.JoinedProjects:
                            <JoinedProjects />
                            break;
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private enum PageMode
    {
        MyProjects,
        JoinedProjects
    }

    private PageMode _currentMode = PageMode.MyProjects;

    private void TogglePageMode(PageMode pageMode) => _currentMode = pageMode;

    private async Task CreateProject()
    {
        var dialog = DialogService.Show<CreateProjectDialog>("Create New Project", new DialogOptions() { Position = DialogPosition.Centered });
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            
        }
    }
}