@page "/Projects"
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <h2 class="page-title">Projects</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                              <div class="row align-items-center">
                                  <div class="col text-truncate">
                                      <a href="#" class="text-reset d-block">My Projects</a>
                                  </div>
                              </div>
                        </div>
                        <div class="list-group-item">
                              <div class="row align-items-center">
                                  <div class="col text-truncate">
                                      <a href="#" class="text-reset d-block">Joined Projects</a>
                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <span>Content goes here!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private enum PageMode
    {
        MyProjects,
        JoinedProjects
    }

    private PageMode _currentMode = PageMode.MyProjects;
}