@page "/Project/{Id:guid}"
@inject ProjectService ProjectService
@using Extremis.Projects
<div class="page-body">
    <div class="container-xl">
        @if (_loaded)
        {
            <div class="card">
                <div class="card-header">
                    <div>
                        <h2 class="card-title">@_project.Title</h2>
                        <div class="card-subtitle">@_project.Description</div>
                    </div>
                    <div class="card-actions">
                        <div class="btn-list">
                            <button class="btn btn-primary" @onclick="InitiateProposal">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path><path d="M16 11h6m-3 -3v6"></path>
                                </svg>
                                Initiate Proposal
                            </button>
                            <button class="btn btn-green">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-trello" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path><path d="M7 7h3v10h-3z"></path><path d="M14 7h3v6h-3z"></path>
                                </svg>
                                Plan Board
                            </button>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card-body">
                            <span>Members</span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <span>Chat, Task list</span>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="progress progress-sm">
                <div class="progress-bar progress-bar-indeterminate"></div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private ProjectFullDto _project = new();
    private bool _loaded;

    protected override async Task OnParametersSetAsync()
    {
        var result = await ProjectService.GetProjectFullInfo(Id);
        if (result.Succeeded)
        {
            _project = result.Data;
            _loaded = true;
        }
        else
        {
            foreach (var message in result.Messages)
            {
                Toast.Add("Error", message, Severity.Error);
            }
            NavigationManager.NavigateTo("Projects", false, true);
        }
    }

    private async Task InitiateProposal()
    {
        var parameters = new DialogParameters()
        {
            { nameof(CreateProposalDialog.ProjectId), _project.Id },
            { nameof(CreateProposalDialog.ProjectName), _project.Title }
        };
        var options = new DialogOptions()
        {
            Position = DialogPosition.Centered
        };
        var dialog = DialogService.Show<CreateProposalDialog>("Initiate new Proposal", parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            
        }
    }
}