@page "/Personal/Settings"

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row align-items-center mw-100">
            <div class="col">
                <div class="mb-1">
                    <ol class="breadcrumb" aria-label="breadcrumbs">
                        <li class="breadcrumb-item">
                            <a href="/Personal">Personal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="#">Settings</a>
                        </li>
                    </ol>
                </div>
                <h2 class="page-title">
                    Account Settings
                </h2>
            </div>
            <div class="col-auto">
                <div class="btn-list">
                    <button class="btn">Edit</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">
                <span>Card Content here</span>
            </div>
        </div>
    </div>
</div>

@code {

}