@page "/About"
<div class="page-body">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="page-title">About us</h3>
            </div>
            <div class="card-body">
                <div class="card bg-primary-lt mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Extremis</h3>
                        <p class="text-muted">A social media platform that allows developers to connect and collaborate on projects with other users based on skills and interests.</p>
                    </div>
                </div>
                <p class="text-reset">This Project is done as part of Expo-a-thon event at Symposium conducted AI-DS department of Sri Sairam Engineering College.</p>
                <div class="alert alert-info mb-3" role="alert">
                    <div class="d-flex">
                        <div>
                            <!-- Download SVG icon from http://tabler-icons.io/i/info-circle -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/><path d="M12 8l.01 0"/><path d="M11 12l1 0l0 4l1 0"/>
                            </svg>
                        </div>
                        <div>
                            <h4 class="alert-title">Did you know?</h4>
                            <div class="text-muted">This Project is entire developed only in just 4 days!</div>
                        </div>
                    </div>
                </div>
                <p class="text-reset">
                    <ul>
                        <li>
                            Team Name: Spectre
                        </li>
                        <li>
                            Developers: Sathiyaraman M, Suhail Sherief and Rohan Jai
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}