@page "/About"
<div class="page-body">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="page-title">About us</h3>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <div class="card bg-primary-lt">
                        <div class="card-body">
                            <h3 class="card-title">Extremis</h3>
                            <p class="text-muted">A social media platform that allows developers to connect and collaborate on projects with other users based on skills and interests.</p>
                        </div>
                    </div>
                </div>
                <br />
                <diV class="row row-cards">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="ribbon bg-red">NEW</div>
                        <div class="card-body">
                            <h3 class="card-title">Card with text ribbon</h3>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at consectetur culpa ducimus eum fuga fugiat, ipsa iusto, modi nostrum recusandae reiciendis saepe.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="ribbon bg-red">NEW</div>
                        <div class="card-body">
                            <h3 class="card-title">Card with text ribbon</h3>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at consectetur culpa ducimus eum fuga fugiat, ipsa iusto, modi nostrum recusandae reiciendis saepe.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="ribbon bg-red">NEW</div>
                        <div class="card-body">
                            <h3 class="card-title">Card with text ribbon</h3>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at consectetur culpa ducimus eum fuga fugiat, ipsa iusto, modi nostrum recusandae reiciendis saepe.</p>
                        </div>
                    </div>
                </div>
            </diV>
            </div>
        </div>
    </div>
</div>
@code {

}