@page "/servers"
<div class="page-header d-print-none">
    <div class="container-fluid">
        <h2 class="page-title px-2">
            Servers
        </h2>
    </div>
</div>
<div class="page-body">
    <div class="layout-boxed text-white">
        <div class="container-fluid">
            <span>Content goes here</span>            
        </div>
    </div>
</div>