<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <NavLink class="nav-link" href="/Dashboard" Match="NavLinkMatch.All">Dashboard</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Personal">Personal</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Explore">Explore</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Projects">Projects</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/About">About</NavLink>
    </li>
</ul>