@page "/explore"
@using Extremis.Proposals
@inject ProposalService ProposalService
<div class="page-body">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="page-title">Explore</h3>
                <div class="card-actions">
                    <div class="btn-list align-items-center">
                        <a href="/Proposals/History" class="mx-2">Your History</a>
                        <a class="btn btn-outline-primary" href="/Proposals">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l11 0"></path><path d="M9 12l11 0"></path><path d="M9 18l11 0"></path><path d="M5 6l0 .01"></path><path d="M5 12l0 .01"></path><path d="M5 18l0 .01"></path>
                            </svg>
                            Your Proposals
                        </a>
                        <button class="btn btn-primary" @onclick="CreateProposal">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
                            </svg>
                            Create new Proposal
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <InputText class="form-control" @bind-Value="_searchString" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" @onclick="@(() => LoadProposals(1))">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path>
                            </svg>
                            Search
                        </button>
                    </div>
                </div>
                @if (_loaded)
                {
                    <div class="text-center">
                        <Pagination CurrentPage="_pageNumber" TotalPages="_totalPages" PageChanged="LoadProposals" />
                    </div>
                    <div class="row row-cards">
                        <div class="space-y">
                            @foreach (var proposal in _proposals)
                            {
                                <div class="card">
                                    <div class="row g-0">
                                        <div class="col">
                                            <div class="card-body">
                                                <h3>@proposal.Title</h3>
                                                <span>@proposal.Description</span>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="btn-list">
                                                        @switch (proposal.Status)
                                                        {
                                                            case ProposalStatus.Closed:
                                                            case ProposalStatus.Accepted:
                                                                <button class="btn btn-secondary" disabled>Closed</button>
                                                                break;
                                                            case ProposalStatus.Open:
                                                                <button class="btn btn-success">Apply</button>
                                                                break;
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-indeterminate"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code
{
    private int _pageNumber = 1;
    private int _pageSize = 10;
    private int _totalPages;
    private string _searchString = "";
    private bool _loaded;
    private List<ProposalDto> _proposals = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadProposals(_pageNumber);
        _loaded = true;
    }

    private async Task LoadProposals(int pageNumber)
    {
        var result = await ProposalService.GetAllProposals(pageNumber, _pageSize, _searchString);
        if (result.Succeeded)
        {
            _proposals = result.Data;
            _totalPages = result.TotalPages;
        }
        else
        {
            foreach (var message in result.Messages)
            {
                Toast.Add("Error", message, Severity.Error);
            }
        }
    }

    private async Task CreateProposal()
    {
        var options = new DialogOptions()
        {
            Position = DialogPosition.Centered
        };
        var dialog = DialogService.Show<CreateProposalDialog>("Create Proposal", options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            
        }
    }
}
